{% extends 'base.html' %}

{% block content %}

			<style>
				@media screen and (max-width: 480px) {
					#editMedia {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
					}

					#editMedia form {
						width: 100%;
						margin-bottom: 10px;
					}

				}
				
			</style>

			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

			<script>
				$(document).ready(function(){
					$("#searchBar").on("keyup", function() {
						var value = $(this).val().toLowerCase();
						console.log("Searching for: " + value);
						$("#dataTable tbody tr").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
						});
					});
				});
			</script>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Salesman</strong> Dashboard: Raise Urgent Request</h1>

					<div class="row">
						<div class="col">
							<div class="card flex-fill">
								<div class="card-header d-flex justify-content-between" id="editMedia">
									<form>
										<input type="text" class="form-control" name="" id="searchBar" placeholder="Type to Search">
									</form>
									<div>
										<a href="{% url 'addRequest' %}" class="btn btn-success">Add</a>
										<a onclick="deleteVendor()" class="btn btn-danger">Delete</a>
									</div>
								</div>

								<div class="table-responsive">
									<table class="table" id="dataTable">
										<thead>
											<tr>
												<th>
													<input type="checkbox" name="selectAll" id="selectAll" onchange="selectAll()">
													Select
												</th>
												<th>S.No.</th>
												<th>Comapny Name</th>
												<th>Proprietor Name</th>
												<th>Request Number</th>
												<th>Refund Type</th>
												<th>Request Status</th>
												<th>Raise</th>
											</tr>
										</thead>
										<tbody>
											{% if requests %}
												{% for request in requests %}
												<tr>
													<td><input type="checkbox" name="selectedRequests" id="{{ request.rid }}"></td>
													<td>
														{{ forloop.counter }}
														<a href="{% url 'viewSingleRequest' request.rid %}">
															<i class="align-middle me-2" style="color: blue;" data-feather="eye"></i>
														</a>
													</td>
													<td>{{ request.vid.company_name }}</td>
													<td>{{ request.vid.proprietor_name }}</td>
													<td>{{ request.rid }}</td>
													<td>{{ request.refund_type }}</td>
													<td>{{ request.request_status }}</td>
													{% if request.uid == 'random' %}
													<td><a href="{% url 'raiseReason' request.rid %}" class="btn btn-primary">Raise</a></td>
													{% elif request.urgency_status == 'in_review' %}
													<td><a class="btn btn-warning">In Review</a></td>
													{% elif request.urgency_status == 'accepted' %}
													<td><a class="btn btn-success">Accepted</a></td>
													{% elif request.urgency_status == 'rejected' %}
													<td><a href="" class="btn btn-danger">Rejected</a></td>
													{% endif %}
												</tr>
												{% endfor %}
											{% else %}
												<tr>
													<td colspan="7">No data in table</td>
												</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<script>

				function selectAll(){
					console.log('Checked');
					var checkbox = document.getElementById('selectAll');
					var allBoxes = document.querySelectorAll('input[name="selectedRequests"]');

					if(checkbox.checked){
						console.log('true');
						console.log(allBoxes);
						allBoxes.forEach(function(box) {
							box.checked = true;
						});
					} else {
						console.log('Error');
						allBoxes.forEach(function(box) {
							box.checked = false;
						});
					}
				}

				function deleteVendor(){
					let selectedRequests =  document.querySelectorAll('input[name="selectedRequests"]:checked');
					let requestIds = Array.from(selectedRequests).map(element => element.id).join(',');
					console.log(requestIds)
					
					$.ajax({
						type: 'POST',
						url: '{% url "deleteRequests" %}',
						data: {
							requestIds : requestIds , 
							csrfmiddlewaretoken: '{{ csrf_token }}',
						},
						success: function(data){
							alert('Deleted Selection');
							window.location.href = '{% url "viewRequests" %}';
						},
						error: function(data){
							console.log('Error occured');
						}
					});
				}
			</script>

{% endblock %}