{% extends 'base.html' %}

{% block content %}

            <style>
                @media screen and (max-width: 480px) {
					#formInputs {
						display: flex;
						flex-direction: column;
					}

                    #formInputs * {
                        margin-bottom: 10px;
                    }

				}
            </style>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Add Refund Request</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Please fill the following details - </h5>
								</div>
								<div class="card-body">
                                    <form method="post" action="" id="request_form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row" id="formInputs">

                                            <div class="col">
                                                <label class="form-label">Request Number</label>
                                                <input class="form-control form-control-lg" type="text" name="request_number" placeholder="Enter Request Number" value="{{ urgent_object.rid.rid }}" readonly/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div id="col">
                                                <label class="form-label">Reason for Urgency</label>
                                                <textarea class="form-control" id="urgency_reason" name="urgency_reason" rows="3">{% if urgent_object.urgency_reason %}{{urgent_object.urgency_reason}}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        <div class="row" id="denialDiv" style="display: none;">
                                            <div id="col">
                                                <label class="form-label">Reason for Denial</label>
                                                <textarea class="form-control" id="denial_reason" name="denial_reason" rows="3">{% if urgent_object.denial_reason %}{{urgent_object.denial_reason}}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        {% if urgent_object.denial_reason %}
                                        <div class="row" id="denialDiv">
                                            <div id="col">
                                                <label class="form-label">Reason for Denial</label>
                                                <textarea class="form-control" id="denial_reason" name="denial_reason" rows="3">{% if urgent_object.denial_reason %}{{urgent_object.denial_reason}}{% endif %}</textarea>
                                            </div>
                                        </div>
                                        {% endif %}
										<br>
										<div class="text-center mt-3">
                                            {% if urgent_object.denial_reason %}
                                            <button onclick="addDenialReason(event)" type="submit" class="btn btn-lg btn-danger" id="submitButton">Submit Denial</button>
											<button onclick="acceptUrgentReason(event)" class="btn btn-lg btn-success">Accept</button>
                                            {% else %}
											<button onclick="showDenialBox(event)" type="submit" class="btn btn-lg btn-warning" id="rejectButton">Reject</button>
											<button onclick="addDenialReason(event)" type="submit" class="btn btn-lg btn-danger" id="submitButton" style="display: none;">Submit Denial</button>
											<button onclick="acceptUrgentReason(event)"class="btn btn-lg btn-success">Accept</button>
                                            {% endif %}
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

            <script>

                function showDenialBox(event){
                    event.preventDefault();
                    var denialDiv = $('#denialDiv');
                    denialDiv.css('display', 'block');

                    var rejectButton = $('#rejectButton');
                    rejectButton.css('display', 'none');

                    var submitButton = $('#submitButton');
                    submitButton.css('display', 'inline');
                }

                function addDenialReason(event){
                    event.preventDefault();

                    var denial_reason = $('#denial_reason').val();
                    $.ajax({
                        type: 'POST',
                        url: '{% url "addDenialReason" urgent_object.uid %}',
                        data: {
                            denial_reason: denial_reason,
							csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function(data){
                            console.log(data);
                            alert('data updated');
                        },
                        error: function(data){
                            console.log('Error');
                        }
                    })
                }

                function acceptUrgentReason(event){
                    event.preventDefault();
                    var dummy = 'dummy';

                    $.ajax({
                        type: 'POST',
                        url: '{% url "acceptUrgentReason" urgent_object.uid %}',
                        data: {
                            dummy: dummy,
							csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function(data){
                            alert('Urgency Accepted');
                        },
                        error: function(data){
                            console.log('Error');
                        }
                    })
                }

            </script>

{% endblock %}