{% extends 'base.html' %}

{% block content %}

			<style>
				@media screen and (max-width: 480px) {
					#editMedia {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
					}

					#editMedia form {
						width: 100%;
						margin-bottom: 10px;
					}

				}
				
			</style>

			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

			<script>
				$(document).ready(function(){
					$("#searchBar").on("keyup", function() {
						var value = $(this).val().toLowerCase();
						console.log("Searching for: " + value);
						$("#dataTable tbody tr").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
						});
					});
				});
			</script>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Receiver</strong> Dashboard: Requests</h1>

					<div class="row">
						<div class="col">
							<div class="card flex-fill">
								<div class="card-header d-flex justify-content-between" id="editMedia">
									<form>
										<input type="text" class="form-control" name="" id="searchBar" placeholder="Type to Search">
									</form>
								</div>

								<div class="table-responsive">
									<table class="table" id="dataTable">
										<thead>
											<tr>
												<th>S.No.</th>
												<th>Comapny Name</th>
												<th>Proprietor Name</th>
												<th>Request Number</th>
												<th>Refund Type</th>
												<th>Request Status</th>
											</tr>
										</thead>
										<tbody>
											{% if requests %}
												{% for request in requests %}
												<tr>
													<td>
														{{ forloop.counter }}
														<a href="{% url 'viewSingleRequest' request.rid %}">
															<i class="align-middle me-2" style="color: blue;" data-feather="eye"></i>
														</a>
													</td>
													<td>{{ request.vid.company_name }}</td>
													<td>{{ request.vid.proprietor_name }}</td>
													<td>{{ request.rid }}</td>
													<td>{{ request.refund_type }}</td>
													<td>
														{% if request.request_status == 'rejected' %}
															{{ request.request_status }}
															<a href="{% url 'rejectRequest' request.rid %}">
																<i class="align-middle me-2" style="color: blue;" data-feather="eye"></i>
															</a>
														{% else %}
															{{ request.request_status }}
														{% endif %}
													</td>
												</tr>
												{% endfor %}
											{% else %}
												<tr>
													<td colspan="7">No data in table</td>
												</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- Pagination -->
							{% include 'pagination.html' %}
							<div class="pagination">
								<a href="/dashboard/notifications/?page=1">&laquo;</a>
								{% if requests.has_previous %}
								<a href="/dashboard/notifications/?page={{ requests.previous_page_number }}">{{ requests.previous_page_number }}</a>
								{% endif %}
								<a class="active" href="/dashboard/notifications/?page={{ requests.number }}">{{ requests.number }}</a>
								{% if requests.has_next %}
								<a href="/dashboard/notifications/?page={{ requests.next_page_number }}">{{ requests.next_page_number }}</a>
								{% endif %}
								<a href="/dashboard/notifications/?page={{ requests.paginator.num_pages }}">&raquo;</a>
							</div>
							<!-- Pagination Ends -->
						</div>
						<h6 style="margin-top: 10px;">Showing page {{ requests.number }} out of {{ requests.paginator.num_pages }}</h6>
					</div>

				</div>
			</main>


{% endblock %}